<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiaBlaCha Turismo diferente</title>
    <link rel="shortcut icon" href="img/Logo azul.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="fonts/NunitoSans_10pt_Condensed-Regular.ttf">
    <link rel="stylesheet" href="css/estilospaquetes.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <header>
        <!-- el contenido esta en el script -->
    </header>

    <nav class="navegador">
        <!-- el contenido esta en el script -->
    </nav>

    <main class="principal">
        <div id="app" class="container">
            <h1>Paquetes de Viaje</h1>
            <br>
            <div class="nuevo">
            <a class="btn btn-primary" href="producto_nuevo.html">Nuevo</a>
            </div>
            <br><br>
            <div v-if="error">
                <p>Lo sentimos , ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Destino</th>
                                    <th scope="col">Fecha de Ida</th>
                                    <th scope="col">Fecha de Regreso</th>
                                    <th scope="col">Precio por Paquete</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="" v-for="producto in productos">

                                    <td>{{producto.nombre}}</td>
                                    <td>{{producto.fechai}}</td>
                                    <td>{{producto.fechar}}</td>
                                    <td>{{producto.paquete}}</td>
                                    <td>
                                        <a class="btn btn-primary"
                                            :href="'producto_update.html?id='+ producto.id">Editar</a>
                                        <button type="button" class="btn btn-danger"
                                            v-on:click="eliminar(producto.id)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>




        <footer class="pie">
            <!-- el contenido esta en el script -->
        </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="./js/productos.js"></script>
    <script src="js/headerfooterynav.js"></script>
</body>

</html>